.search-bar-container {
  position: relative;
  margin-bottom: 18px;
}

.search-bar-container > i {
  position: absolute;
  top: 11px;
  left: 17px;
}

.search-bar-container > input {
  box-sizing: border-box;

  width: 100%;
  height: 38px;

  padding-left: 52px;

  background: #ffffff;
  border: 1px solid #999999;
  border-radius: 5px;
  color: #999999;

  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
}
